:root {
  --background: lightgray;

}
/* reset box sizing */
*, *::before, *::after {
  box-sizing: border-box;
}
.body {
  margin: 0;
  background: #222;
  font-weight: 400;
}

.wrapper {
  padding-right: 1.25rem;
}
/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  z-index: 999;
  width: 100%;
  position: sticky;
  top: 0;
}


.logo  {
  margin: auto;
}
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}
.nav-toggle-label span::before {
 bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: red;

}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

/* navigation styles end here */

/* main styles start here */

main {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: column wrap;
  width:100%;
  left:0;
  margin-top:3em;
  margin-left: .5em;
  padding-bottom: 1rem;

}
/* main  styles end here */

/* footer styles start here */
footer {
  padding-left: 1rem;
  position: absolute;
  width: 100%;
  background: var(--background);
}

/* footer styles end here */

@media screen and (min-width: 800px) {
  .wrapper  {
    display: grid;
    grid-template-columns:repeat(12,[col-start] 1fr);
    grid-row-gap:10px;
  }

  /* navigation styles start here */

  .nav-toggle-label {
    display: none;

  }
  .nav-toggle ~ nav{
     transform: scale(1,1);
     top:0;
     background: none;

  }
  .nav-toggle ~ nav a
   {
    opacity: 1;
    top:0;
  }
  header {
    grid-column: col-start 1 / 13;
    grid-row: 1;
    display: grid;
    padding-bottom:1rem;
    grid-template-columns: repeat(9,1fr);

  }

  .logo {
    grid-column:  1 / 2;
  }

  nav  {
    grid-column: 5 / -1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

   nav ul {
    display: flex;
    padding-top:1em;
  }
  nav li
  {
    display: flex;
  }
  nav li input
  {
    display: flex;
    flex-flow: row;
  }


  nav li {
    opacity: 1;
  }

  nav a::before,
  nav input::before,
  nav button::before
  {
    display: block;
    height: 5px;
    background: black;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0,1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  nav li {
      transform: scale(1,1);
  }
  .login-container {
    justify-self: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
  }
  /* navigation styles end here */

  /* main styles start here */
  .page-content {
    grid-column: col-start 1 / span 12;
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 1.25rem;
  }
  .slide-container {
    grid-column: 2 / span 5;
    grid-row: auto;
  }
  .register-container {
      grid-column:  8 / span 4;
      grid-row: auto;
      margin-right: 1rem;
  }

  /* main styles end here */

  /* footer styles start here */
  footer {
    position: relative;
    grid-column: col-start / span 12;
    grid-row: 4;
    padding-top: .1rem;
    padding-bottom: .1rem;

  }
  /* footer styles end here */

}
