table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
    text-align: left;
    padding: 8px;
}

.table-row {
   width: 100%; display: table; table-layout: fixed;
 }
.table-col {
   display: table-cell;
  }
