.vertical-form {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column wrap;
  text-align: center;
}

.vertical-form input,
.vertical-form button
.vertical-form label
{
  margin-top: 1em;
  width: 100%;
}

.input-control
{
  border:none;
  border-bottom: 1px solid #888875;
  padding-top:1.2em;
  border: none;
  border-bottom: 1px solid #888875;
  background: transparent;
 }
