@import '_form.css';
@import '__colors.css';
@import '_nav.css';
@import '_grid.css';
@import '__buttons.css';
@import '_animations.css';
@import '_badges.css';
@import '_nav.css';
html { font-size: 62.5%; }
body { font-size: 1.4rem; }
h1   { font-size: 2.4rem; }


.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.pad-3 {
  padding: 0.13em;
}
