@import 'form.css';
@import 'colors.css';
@import 'buttons.css';
@import 'badges.css';
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
html { font-size: 62.5%; }
body { font-size: 1.4rem; }
h1   { font-size: 2.4rem; }

* {box-sizing: border-box;}

  .wrapper {
      /* max-width: 1024px; */
      margin: 0 auto;
      font: 1.2em Helvetica, arial, sans-serif;

  }

  .wrapper > * {
      border-radius: 5px;
      padding: 10px;
  }
  .wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      "header"
      "login_register"
      "main_page"
      "footer";  
      height: 100vh;
  }
.login_register_container {
    grid-area: login_register;
}

 .header {
     grid-area: header;
   background-color: var(--light_black);
}

.nav ul {
  /* float:left; */
  margin: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.nav ul>li:first-child {
  float:left;
    
}
.nav ul>li:last-child {
  float:right;
    
}


.footer  {
    grid-area: footer;
    /* position: fixed; */
    bottom:0;
    background-color: var(--light_black);
    width: 100%;

}
.main_wrapper {
  grid-area: main_page;
  display: grid;
  grid-template-columns: repeat(1fr,9);
  grid-row: 2;

  grid-gap:10px;

}
.dashboard {
grid-column:1/span 3;
grid-row:1;
justify-content: space-between;
display: flex;
grid-auto-flow: column;

height:70px;
margin-bottom: 10px;
}
.main {
  grid-column:1/span 3;
grid-row:2;
margin-bottom:300px; 
 }
 .place_order {
  grid-column:1/span 3;
  grid-row:2;
  justify-content: center;
  margin-bottom:300px; 
  margin: auto;
 }
 .page_label{
 text-decoration: underline;
 color:var(--blue);
 display: flex;
 justify-content: center;
 
 }
 .active
 {
  text-decoration: underline;
  color:var(--blue);
  }

